In [7]:
import pandas as pd
import numpy as np

In [8]:
raw_data = pd.read_csv('listings.csv')

In [9]:
raw_data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'minimum_nights',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews', 'reviews_per_month', 'price'],
      dtype='object')

In [10]:
data = raw_data.drop(['id', 'host_name'], axis=1)

In [11]:
data.columns

Index(['name', 'host_id', 'neighbourhood_group', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'minimum_nights',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews', 'reviews_per_month', 'price'],
      dtype='object')

In [12]:
# data['name'].isnull() 
data['name'].isnull().sum()
data = data.dropna(subset=['name'], how='all')

In [13]:
# len(data)

In [14]:
print(len(data[data['name'].str.contains("Super Host")]))
print(len(data[data['name'].str.contains("super host")]))

# so not many rows with super host; thus discarding it

5
0

In [15]:
# converting categorical variables into

In [16]:
data[data.isnull().any(axis=1)]

,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,calculated_host_listings_count,availability_365,number_of_reviews,reviews_per_month,price
1,THE VILLAGE OF HARLEM....NEW YORK !,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,3,1,365,0,NaN,150
18,Huge 2 BR Upper East Cental Park,17985,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,7,2,275,0,NaN,190
24,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Manhattan,Inwood,40.86754,-73.92639,Private room,4,1,0,0,NaN,80
34,Clean and Quiet in Brooklyn,7355,Brooklyn,Bedford-Stuyvesant,40.68876,-73.94312,Private room,5,1,0,0,NaN,35
36,Country space in the city,45445,Brooklyn,Flatbush,40.63702,-73.96327,Private room,1,1,365,0,NaN,150
191,1 Bedroom in 2 Bdrm Apt- Upper East,236421,Manhattan,Upper East Side,40.77333,-73.95199,Private room,14,2,0,0,NaN,130
202,Beautiful Uptown Manhattan apartmnt,253385,Manhattan,Harlem,40.80234,-73.95603,Private room,30,1,365,0,NaN,200
256,LL3,295128,Bronx,Clason Point,40.81309,-73.85514,Private room,2,7,346,0,NaN,90
263,Prime East Village 1 Bedroom,146944,Manhattan,East Village,40.72807,-73.98594,Entire home/apt,3,1,0,0,NaN,200
272,"Room in S3rd/Bedford, Williamsburg",320422,Brooklyn,Williamsburg,40.71368,-73.96260,Private room,3,1,0,0,NaN,60
341,Two Bedroom APT,47142,Manhattan,Chinatown,40.71441,-73.99117,Entire home/apt,2,2,365,0,NaN,399
342,The Brooklyn Waverly,116599,Brooklyn,Clinton Hill,40.68613,-73.96536,Entire home/apt,5,3,339,0,NaN,650
346,LARGE 1BR (CONV 2BR) CROWN HEIGHTS,503800,Brooklyn,Crown Heights,40.67473,-73.94494,Entire home/apt,90,1,364,0,NaN,100
387,Spacious East Village apt near it all,599354,Manhattan,East Village,40.73067,-73.98702,Private room,2,1,0,0,NaN,87
422,Parisian apartment in Chelsea,703156,Manhattan,Chelsea,40.74249,-74.00329,Entire home/apt,4,1,0,0,NaN,200
428,Your own apartment off Park Avenue,720320,Manhattan,Upper East Side,40.78508,-73.95332,Entire home/apt,4,1,0,0,NaN,250
433,Park Slope Apartment,731855,Brooklyn,Park Slope,40.67359,-73.97904,Entire home/apt,2,1,0,0,NaN,150
481,Very close to Downtown Awesome Private Apartment,807642,Brooklyn,Gravesend,40.60452,-73.97103,Entire home/apt,7,2,0,0,NaN,106
539,Best Manhattan Studio Deal!,933378,Manhattan,Upper East Side,40.76739,-73.95570,Shared room,1,1,0,0,NaN,90
579,1 Bedroom in prime Flatiron,846050,Manhattan,NoHo,40.72956,-73.99287,Private room,2,1,0,0,NaN,250
622,charming 2bdrm apt in East Village,1151987,Manhattan,East Village,40.72264,-73.98370,Entire home/apt,4,1,0,0,NaN,160
624,Manhattan Loft in Prime East Village Location,1243192,Manhattan,Greenwich Village,40.73268,-73.99255,Entire home/apt,30,1,249,0,NaN,241
630,"Amazing 1 bed, live like a Newyorkr",1257760,Manhattan,Gramercy,40.73685,-73.98359,Entire home/apt,1,1,11,0,NaN,399
654,1 Bedroom Available In My Two Bedroom Flat,945499,Brooklyn,Crown Heights,40.67495,-73.95563,Private room,3,1,0,0,NaN,150
657,The Lenox in Harlem,1313306,Manhattan,Harlem,40.81122,-73.94279,Entire home/apt,5,2,365,0,NaN,400
699,"Affordable rooms,all transportation",1360198,Staten Island,Arrochar,40.59101,-74.06685,Private room,7,4,218,0,NaN,50
726,West Village cozy 2 bedroom NYC,1397061,Manhattan,Chelsea,40.74139,-74.00050,Entire home/apt,4,1,0,0,NaN,220
749,LARGE UNIQUE ARTSY BEDROOM W/ PRIVATE BATHROOM,200782,Manhattan,Kips Bay,40.74182,-73.98097,Private room,30,1,34,0,NaN,125
754,Beautiful bed and bath - Manhattan,1429642,Manhattan,East Harlem,40.79793,-73.93612,Private room,6,1,0,0,NaN,200
782,One bedroom sharing Bathroom,1474637,Brooklyn,Cypress Hills,40.67889,-73.86404,Private room,7,1,0,0,NaN,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
48834,Historic Townhouse in Heart of West Village,2414652,Manhattan,West Village,40.73869,-74.00339,Entire home/apt,7,1,309,0,NaN,499
48835,Beautiful Studio Apt in K-TOWN,123936733,Manhattan,Chelsea,40.75286,-73.99997,Entire home/apt,2,1,81,0,NaN,180
48836,Cozy & spacious private room next to Central Park,44046694,Manhattan,East Harlem,40.79724,-73.94808,Private room,2,1,16,0,NaN,105
48837,Stylish Private BR in West Village Horatio 2A-F,226091168,Manhattan,West Village,40.73634,-74.00893,Entire home/apt,30,1,44,0,NaN,150
48838,Amazing Studio Apt in the area of K-TOWN,150319226,Manhattan,Chelsea,40.75282,-73.99850,Entire home/apt,2,1,80,0,NaN,180
48839,"Private Room - access to gym, yoga room, rooftop",53035133,Brooklyn,Bedford-Stuyvesant,40.68945,-73.92282,Private room,1,1,66,0,NaN,65
48840,Beautiful and stylish apt next to Central Park!,201914956,Manhattan,Upper West Side,40.79936,-73.96743,Entire home/apt,5,1,342,0,NaN,315
48841,ENTIRE Home! 10BR/6BA + Private Garden SLEEPS 20+,16625273,Brooklyn,Williamsburg,40.71571,-73.94626,Entire home/apt,2,3,326,0,NaN,1295
48842,True 2 Bedroom APT in Heart of Hell's Kitchen,137505930,Manhattan,Hell's Kitchen,40.76198,-73.99131,Entire home/apt,2,1,262,0,NaN,250
48843,AMAZING! 7bd/4ba TownHome + PATIO - 10 Mins To...,16625273,Brooklyn,Williamsburg,40.71571,-73.94626,Entire home/apt,2,3,337,0,NaN,895
48844,Charming Morningside Apartment,162714234,Manhattan,Morningside Heights,40.81436,-73.96008,Entire home/apt,3,1,18,0,NaN,150
48845,Luxury two bedroom apt 3 minutes walk to the t...,66835858,Brooklyn,Windsor Terrace,40.64975,-73.97282,Entire home/apt,3,2,83,0,NaN,280
48846,Amazing 3bd/2ba Town-Home In Prime Williamsburg,16625273,Brooklyn,Williamsburg,40.71571,-73.94626,Entire home/apt,2,3,332,0,NaN,395
48847,Chic Modern Luxury Sleeps 6,246331794,Manhattan,Murray Hill,40.74784,-73.97799,Entire home/apt,1,3,145,0,NaN,350
48848,Williamsburg Condo,3370962,Brooklyn,Williamsburg,40.71121,-73.96581,Entire home/apt,2,1,0,0,NaN,100
48849,Modern Studio APT in the heart of K-TOWN,137669844,Manhattan,Midtown,40.74815,-73.98576,Entire home/apt,2,1,45,0,NaN,180
48850,Amazing Furnished 2 Bed in the UES #6134,113805886,Manhattan,Upper East Side,40.77905,-73.95032,Entire home/apt,30,32,339,0,NaN,190
48851,"Brand New, Super Comfortable 2 BR Apt In Times...",266762041,Manhattan,Chelsea,40.75255,-73.99869,Entire home/apt,1,1,66,0,NaN,236
48852,Lovely Studio APT in the center of K-TOWN,137483003,Manhattan,Midtown,40.74744,-73.98521,Entire home/apt,2,1,52,0,NaN,180
48853,Spectacular 2 Bed Luxury UWS Building #6106,116305897,Manhattan,Upper West Side,40.79037,-73.97374,Entire home/apt,30,10,340,0,NaN,300
48854,Extremely Spacious 5 BR Loft In TriBeca Near S...,158059664,Manhattan,Tribeca,40.71255,-74.00939,Entire home/apt,1,1,51,0,NaN,709
48855,Clean & Modern Studio APT in the center of K-TOWN,72715640,Manhattan,Midtown,40.74802,-73.98575,Entire home/apt,2,1,22,0,NaN,180
48856,Private Room,35927005,Manhattan,Hell's Kitchen,40.76104,-73.99249,Private room,1,2,171,0,NaN,135
48857,Comfortable 3 bedroom homebase in Bushwick,29637230,Brooklyn,Bushwick,40.69430,-73.92283,Entire home/apt,2,1,358,0,NaN,300
48858,Large Two Bedroom in Bronx Little Italy,44851966,Bronx,Belmont,40.85581,-73.88425,Entire home/apt,1,1,354,0,NaN,130
48859,Overnighter / Weekender,283024389,Queens,Astoria,40.77321,-73.92567,Shared room,1,1,53,0,NaN,65
48860,East Harlem's Best Kept Secret,299391,Manhattan,East Harlem,40.80504,-73.93774,Private room,2,1,53,0,NaN,60
48861,"Perfect, Brand New 1 Bedroom Apartment In Midtown",113464126,Manhattan,Hell's Kitchen,40.76207,-73.98818,Entire home/apt,1,1,105,0,NaN,239
48862,Large bedroom overlooking Riverside,7941569,Manhattan,Morningside Heights,40.81574,-73.95931,Private room,1,1,14,0,NaN,75
48863,Brand New Spacious 1 Bedroom Apt In Hells Kitchen,132699715,Manhattan,Hell's Kitchen,40.76825,-73.98972,Entire home/apt,1,1,74,0,NaN,239

In [17]:
# data.head()
data["reviews_per_month"].value_counts()
# data = data.fillna({"reviews_per_month": data["reviews_per_month"].mean()})
data = data.fillna({"reviews_per_month": 0})

In [18]:
data['neighbourhood_group'].value_counts()

Manhattan        21447
Brooklyn         20108
Queens            5811
Bronx             1104
Staten Island      378
Name: neighbourhood_group, dtype: int64

In [19]:
# data['neighbourhood'].value_counts()
data['room_type'].value_counts()

Entire home/apt    25289
Private room       22389
Shared room         1170
Name: room_type, dtype: int64

In [20]:
# cleanup_nums = {"neighbourhood_group":     {"Manhattan": 1, "Brooklyn": 2, "Queens":3, "Bronx":4, "Staten Island":5},
#                 "room_type": {"Entire home/apt": 1, "Private room": 2, "Shared room": 3}}
# data.replace(cleanup_nums, inplace=True)
# data.head()

In [21]:
data["neighbourhood_group"] = data["neighbourhood_group"].astype('category')
data["neighbourhood_group"] = data["neighbourhood_group"].cat.codes

data["neighbourhood"] = data["neighbourhood"].astype('category')
data["neighbourhood"] = data["neighbourhood"].cat.codes

data["room_type"] = data["room_type"].astype('category')
data["room_type"] = data["room_type"].cat.codes

In [22]:
data.head()

,name,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,calculated_host_listings_count,availability_365,number_of_reviews,reviews_per_month,price
0,Skylit Midtown Castle,2845,2,128,40.75362,-73.98377,0,1,2,288,46,0.39,225
1,THE VILLAGE OF HARLEM....NEW YORK !,4632,2,95,40.80902,-73.94190,1,3,1,365,0,0.00,150
2,Cozy Entire Floor of Brownstone,4869,1,41,40.68514,-73.95976,0,1,1,212,274,4.64,89
3,Entire Apt: Spacious Studio/Loft by central park,7192,2,62,40.79851,-73.94399,0,10,1,0,9,0.10,80
4,Large Cozy 1 BR Apartment In Midtown East,7322,2,138,40.74767,-73.97500,0,3,1,127,75,0.60,200

In [23]:
# selecting columns
# data.columns

data = data.drop(['name', 'host_id', 'calculated_host_listings_count'], axis=1)
data.head()

,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,availability_365,number_of_reviews,reviews_per_month,price
0,2,128,40.75362,-73.98377,0,1,288,46,0.39,225
1,2,95,40.80902,-73.94190,1,3,365,0,0.00,150
2,1,41,40.68514,-73.95976,0,1,212,274,4.64,89
3,2,62,40.79851,-73.94399,0,10,0,9,0.10,80
4,2,138,40.74767,-73.97500,0,3,127,75,0.60,200

In [28]:
# linear regression
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import StandardScaler



errors = []
for loop in range(10):
    data = np.array(data)
    np.random.shuffle(data)

    n_train = int(.8 * len(data))
    # n_test = len(data) - n_train

    X_train, Y_train = data[:n_train, :-1], data[:n_train, -1]
    X_test, Y_test = data[n_train:, :-1], data[n_train:, -1] 
    # Create linear regression object

    scaler = StandardScaler()
    scaler.fit_transform(X_train)
    
    X_train = scaler.transform(X_train)
    X_test = scaler.transform(X_test)
    

    regr = linear_model.LinearRegression()
    regr.fit(X_train, Y_train)


    # Make predictions using the testing set
    y_pred_train = regr.predict(X_train)

    print('Mean squared error over train data: %.2f'
          % mean_absolute_error(Y_train, y_pred_train))


    # Make predictions using the testing set
    y_pred = regr.predict(X_test)

    print('Mean squared error over test data: %.2f'
            % mean_absolute_error(Y_test, y_pred))
    #       % mean_squared_error(Y_test, y_pred))
    
    
    errors.append(mean_absolute_error(Y_test, y_pred))

print(f"avg. error: {np.mean(errors)}")

Mean squared error over train data: 74.13
Mean squared error over test data: 71.29
Mean squared error over train data: 73.09
Mean squared error over test data: 74.62
Mean squared error over train data: 73.46
Mean squared error over test data: 73.36
Mean squared error over train data: 71.90
Mean squared error over test data: 75.97
Mean squared error over train data: 72.82
Mean squared error over test data: 74.97
Mean squared error over train data: 72.76
Mean squared error over test data: 74.63
Mean squared error over train data: 73.96
Mean squared error over test data: 72.12
Mean squared error over train data: 73.09
Mean squared error over test data: 73.90
Mean squared error over train data: 72.88
Mean squared error over test data: 73.75
Mean squared error over train data: 73.95
Mean squared error over test data: 72.13
avg. error: 73.67477840271468

In [29]:
# svm
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import StandardScaler


errors = []
for loop in range(1):
    data = np.array(data)
    np.random.shuffle(data)

    n_train = int(.8 * len(data))
    # n_test = len(data) - n_train

    X_train, Y_train = data[:n_train, :-1], data[:n_train, -1]
    X_test, Y_test = data[n_train:, :-1], data[n_train:, -1] 
    # Create linear regression object

    scaler = StandardScaler()
    scaler.fit_transform(X_train)
    
    X_train = scaler.transform(X_train)
    X_test = scaler.transform(X_test)
    

    svr = SVR(kernel='rbf', gamma=0.1, C=1e1, epsilon=0.2)
    svr.fit(X_train, Y_train)


    # Make predictions using the testing set
    y_pred_train = svr.predict(X_train)

    print('Mean squared error over train data: %.2f'
          % mean_absolute_error(Y_train, y_pred_train))


    # Make predictions using the testing set
    y_pred = svr.predict(X_test)

    print('Mean squared error over test data: %.2f'
            % mean_absolute_error(Y_test, y_pred))
    #       % mean_squared_error(Y_test, y_pred))
    
    
    errors.append(mean_absolute_error(Y_test, y_pred))

print(f"avg. error: {np.mean(errors)}")

KeyboardInterrupt:

In [36]:

# Knn regression
from sklearn import neighbors
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import StandardScaler


errors = []
for loop in range(4):
    data = np.array(data)
    np.random.shuffle(data)

    n_train = int(.9 * len(data))
    # n_test = len(data) - n_train

    X_train, Y_train = data[:n_train, :-1], data[:n_train, -1]
    X_test, Y_test = data[n_train:, :-1], data[n_train:, -1] 
    # Create linear regression object

    scaler = StandardScaler()
    scaler.fit_transform(X_train)
    
    X_train = scaler.transform(X_train)
    X_test = scaler.transform(X_test)    

    knn = neighbors.KNeighborsRegressor(n_neighbors=50, weights='distance')

    # Make predictions using the testing set
    y_pred_train = knn.fit(X_train, Y_train).predict(X_train)

    print('Mean squared error over train data: %.2f'
          % mean_absolute_error(Y_train, y_pred_train))


    # Make predictions using the testing set
    y_pred = knn.fit(X_train, Y_train).predict(X_test)

    print('Mean squared error over test data: %.2f'
            % mean_absolute_error(Y_test, y_pred))
    #       % mean_squared_error(Y_test, y_pred))
    
    
    errors.append(mean_absolute_error(Y_test, y_pred))

print(f"avg. error: {np.mean(errors)}")

Mean squared error over train data: 0.00
Mean squared error over test data: 62.83
Mean squared error over train data: 0.00
Mean squared error over test data: 61.85
Mean squared error over train data: 0.00
Mean squared error over test data: 63.75
Mean squared error over train data: 0.00
Mean squared error over test data: 60.88
avg. error: 62.32746578810957

In [42]:

# ridge regression
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler


errors = []
for loop in range(4):
    data = np.array(data)
    np.random.shuffle(data)

    n_train = int(.8 * len(data))
    # n_test = len(data) - n_train

    X_train, Y_train = data[:n_train, :-1], data[:n_train, -1]
    X_test, Y_test = data[n_train:, :-1], data[n_train:, -1] 
    # Create linear regression object

    scaler = StandardScaler()
    scaler.fit_transform(X_train)
    
    X_train = scaler.transform(X_train)
    X_test = scaler.transform(X_test)


#     regr = linear_model.Ridge(alpha=.2, fit_intercept=True)
    regr = make_pipeline(PolynomialFeatures(2), Ridge(alpha=.3))
    regr.fit(X_train, Y_train)


    # Make predictions using the testing set
    y_pred_train = regr.predict(X_train)

    print('Mean squared error over train data: %.2f'
          % mean_absolute_error(Y_train, y_pred_train))


    # Make predictions using the testing set
    y_pred = regr.predict(X_test)

    print('Mean squared error over test data: %.2f'
            % mean_absolute_error(Y_test, y_pred))
    #       % mean_squared_error(Y_test, y_pred))
    
    
    errors.append(mean_absolute_error(Y_test, y_pred))

print(f"avg. error: {np.mean(errors)}")

Mean squared error over train data: 69.15
Mean squared error over test data: 71.37
Mean squared error over train data: 68.50
Mean squared error over test data: 70.78
Mean squared error over train data: 68.52
Mean squared error over test data: 70.93
Mean squared error over train data: 70.43
Mean squared error over test data: 67.02
avg. error: 70.02616542311168

In [49]:
# Lasso regression
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import StandardScaler


errors = []
for loop in range(10):
    data = np.array(data)
    np.random.shuffle(data)

    n_train = int(.9 * len(data))
    # n_test = len(data) - n_train

    X_train, Y_train = data[:n_train, :-1], data[:n_train, -1]
    X_test, Y_test = data[n_train:, :-1], data[n_train:, -1] 
    # Create linear regression object

    scaler = StandardScaler()
    scaler.fit_transform(X_train)
    
    X_train = scaler.transform(X_train)
    X_test = scaler.transform(X_test)


#     regr = linear_model.Ridge(alpha=.2, fit_intercept=True)
    regr = Lasso(alpha=1)
    regr.fit(X_train, Y_train)


    # Make predictions using the testing set
    y_pred_train = regr.predict(X_train)

    print('Mean squared error over train data: %.2f'
          % mean_absolute_error(Y_train, y_pred_train))


    # Make predictions using the testing set
    y_pred = regr.predict(X_test)

    print('Mean squared error over test data: %.2f'
            % mean_absolute_error(Y_test, y_pred))
    #       % mean_squared_error(Y_test, y_pred))
    
    
    errors.append(mean_absolute_error(Y_test, y_pred))

print(f"avg. error: {np.mean(errors)}")

Mean squared error over train data: 72.98
Mean squared error over test data: 73.96
Mean squared error over train data: 73.24
Mean squared error over test data: 72.16
Mean squared error over train data: 72.07
Mean squared error over test data: 78.35
Mean squared error over train data: 73.14
Mean squared error over test data: 72.21
Mean squared error over train data: 73.80
Mean squared error over test data: 68.48
Mean squared error over train data: 73.48
Mean squared error over test data: 72.00
Mean squared error over train data: 73.60
Mean squared error over test data: 70.10
Mean squared error over train data: 73.51
Mean squared error over test data: 69.74
Mean squared error over train data: 72.98
Mean squared error over test data: 73.46
Mean squared error over train data: 72.53
Mean squared error over test data: 76.80
avg. error: 72.72679878411131

In [281]:
old_data = data

In [286]:
data = old_data

In [279]:
X_train = scaler.transform(X_train)

In [280]:
X_train[0]

array([ 0.43356783,  1.48476516,  0.07740844, -1.04780594, -0.92901759,
       -0.29442523, -0.20788466,  0.0118509 ,  1.87547521])

In [154]:
n_test

43964